html {
    height: 100%;
}

body {
    font-family: Verdana, serif;
    background: url("https://stepik.org/media/attachments/lesson/374893/world.png") no-repeat center/80%;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
    height: 500px;
    margin: auto;
}

.card {
    font-weight: bold;
    position: relative;
    width: 32%;
    height: 32%;
    transition: transform 1s;
    transform-style: preserve-3d;
    text-align: center;
    border-radius: 10px;
    background-color: transparent;
}

.card:hover {
    transform: rotateY(180deg);
}

.item {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front {
    color: orange;
    background-color: blanchedalmond;
}

.back {
    transform: rotateY(180deg);
    color: blanchedalmond;
    background-color: orange;
}

.item p {
    margin: 10px 5px;
}

